*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
}
.navbar_title{
    color: rgb(159, 28, 164);
}
.navbar_s2{
    border:solid black 1px;
    border-radius: 10px;
    width:60%;
    padding:10px;
    display: flex;
    gap:10px;
    align-items: center;
}
.navbar_s2__text{
    width:100%;
    border:none;
}
.navbar_s2__text:focus{
    outline: none;
}
.navbar_s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #DE08FF;
    color: white;
    border:soild black 1px;
    border-radius: 20px;
    padding: 10px;
}
.categories p:focus{
    background-color: white;
    color: black;
}
.sale img{
    width:100%;
}
.Recommended{
    padding: 10px;
}

.Recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.course-card{
    width: 200px;
}
.course-card img{
    height: 50%;
    width: 100%;
}
.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    margin-top: 10px;
    gap:10px;
    flex-wrap: wrap;
}
.topics-container p{
    border: solid gray 2px;
    padding: 10px;
    margin: 2px;
    flex-grow: 1;
    flex-basis:25%;

}
.topics-container p:hover{
    background-color: black;
    color: white
}

.popular{
    padding: 10px;
    display: flex;

}

.popular_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    gap:10px

}
.popuar_courses{
    width: 250px;
}
.popuar_courses img{
    height: 50%;
    width: 100%;
    margin: 2px;
    flex-grow: 1;
    flex-basis:40%;
}
.footer{
    background-color: black;
    color: white;

}
.footer_one{
    display: flex;
    gap: 30px;
    margin: 10px;
    padding: 20px;
  
}
.footer p{
    margin: 20px;
}
.footer_two{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
}